.main-timeline{
  font-family: 'Poppins', sans-serif; 
  padding: 25px 0;
}
.main-timeline:after{
  content: '';
  display: block;
  clear: both;
}
.main-timeline:before{
  content: '';
  background: linear-gradient(to right,#777 50%,#999 65%);
  height: 200%;
  width: 25px;
  transform: translateX(-50%);
  position: absolute;
  left: 50%;
  top: 0;
}
.main-timeline .timeline{
  width: calc(50% + 63px);
  margin: 0 0 30px;
  float: right;
  position: relative;
}
.main-timeline .timeline-content{
  color: #666;
  background: linear-gradient(to left,#FF7F23 65%,#DF2947);
  text-align: center;
  min-height: 120px;
  padding: 20px 30px 20px 160px;
  border-radius: 100px;
  display: block; 
  position: relative;
  z-index: 1;
}
.main-timeline .timeline-content:hover{ text-decoration: none; }
.main-timeline .timeline-content:before{
  content: '';
  background: #fff;
  border-radius: 100px 0 0 100px;
  position: absolute;
  left: 130px;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}
.main-timeline .timeline-icon{
  color: #DF2947;
  font-size: 45px;
  line-height: 100px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: -3px 3px 7px rgba(0,0,0,0.3);
  transform: translateY(-50%);
  position: absolute;
  left: 15px;
  top: 50%;
}
.main-timeline .timeline-icon:before{
  content: '';
  background-color: #fff;
  border-radius: inherit;
  box-shadow: inherit;
  position: absolute;
  left: 10px;
  top: 10px;
  bottom: 10px;
  right: 10px;
  z-index: -1;
}
.main-timeline .title{
  color: #DF2947;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin: 0 0 5px;
}
.main-timeline .description{
  font-size: 13px;
  letter-spacing: 1px;
  line-height: 20px;
  margin: 0;
}
.main-timeline .timeline:nth-child(even){ float: left; }
.main-timeline .timeline:nth-child(even) .timeline-content{ padding: 20px 160px 20px 30px; }
.main-timeline .timeline:nth-child(even) .timeline-content:before{
  border-radius: 0 100px 100px 0;
  left: 0;
  right: 130px;
}
.main-timeline .timeline:nth-child(even) .timeline-icon{
  left: auto;
  right: 15px;
}
.main-timeline .timeline:nth-child(4n+2) .timeline-content{
  background: linear-gradient(to right,#FDCC49 65%,#f74e00);
}
.main-timeline .timeline:nth-child(4n+2) .timeline-icon,
.main-timeline .timeline:nth-child(4n+2) .title{
  color: #f74e00;
}
.main-timeline .timeline:nth-child(4n+3) .timeline-content{
  background: linear-gradient(to left,#7EE6FC 65%,#378AE6);
}
.main-timeline .timeline:nth-child(4n+3) .timeline-icon,
.main-timeline .timeline:nth-child(4n+3) .title{
  color: #378AE6;
}
.main-timeline .timeline:nth-child(4n+4) .timeline-content{
  background: linear-gradient(to right,#AA84F1 65%,#4F29B0);
}
.main-timeline .timeline:nth-child(4n+4) .timeline-icon,
.main-timeline .timeline:nth-child(4n+4) .title{
  color: #4F29B0;
}

/* MainTimeline */
@media screen and (max-width:767px){
  .main-timeline:before{ display: none; }
  .main-timeline .timeline{ width: 100%; } 
}
@media screen and (max-width:576px){
  .main-timeline .timeline-content,
  .main-timeline .timeline:nth-child(even) .timeline-content{
      padding: 145px 20px 20px;
      border-radius: 50px;
  }
  .main-timeline .timeline-content:before,
  .main-timeline .timeline:nth-child(even) .timeline-content:before{
      top: 125px;
      right: 0;
      left: 0;
      border-radius: inherit;
  }
  .main-timeline .timeline-icon,
  .main-timeline .timeline:nth-child(even) .timeline-icon{
      transform: translateY(0) translateX(-50%);
      left: 50%;
      top: 10px;
      right: auto;
  }
}

